In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./itn_asr_eval.csv')

In [4]:
with open("./asr_eval_input.txt", "w") as file:
    for line in df["Spoken text"].tolist():
        file.write(line+"\n")

In [5]:
len(df)

37

In [6]:
with open("./asr_eval_target.txt", "w") as file:
    for line in df["Written text"].tolist():
        file.write(line+"\n")

In [7]:
with open("./final_test.output", "r") as file:
    output_list = []
    for line in file.readlines():
        output_list.append(line.split("\t")[0])
    
with open("./output.txt", "w") as file:
    for line in output_list:
        file.write(line+"\n")

In [8]:
with open("./asr_eval_target.txt", "r") as file:
    target_list = file.readlines()
with open("./output.txt", "r") as file:
    output_list = file.readlines()
count = 0
for target, output in zip(target_list, output_list):
    if target.replace(" ", "")!=output.replace(" ", ""):
        print("answer: \t", target.replace("\n", ""))
        print("model output: \t", output.replace("\n", ""))
        print()
        count += 1
print(count)

answer: 	 gilstead road bedok north and one north link
model output: 	 gilstead road bedok north and 1 north link

answer: 	 jurong island terminal miller street and aljunied mrt station
model output: 	 jurong island terminal miller street & aljunied mrt station

answer: 	 geylang lorong 8 bukit ho swee link and jalan basong
model output: 	 geylang lorong 8, bukit ho swee link and jalan basong

answer: 	 250000 mm yes
model output: 	  250,000 mm yes

answer: 	 oh oh so would you like to settle the er HK$ outstanding balance with your US$
model output: 	 oh oh so would you like to settle the er hong kong dollar outstanding balance with your us $

answer: 	 remit HK$ 3500
model output: 	 remit hong hkd 3500

answer: 	 £550 okay against US$
model output: 	 five hundred and fifty pound okay against usd

answer: 	 um hum the second one is uh AUD 38195 uh
model output: 	 um hum the second one is uh australian $ 38195 uh

answer: 	 860000 8 6 6 60000
model output: 	  868 u. s. 60 6 60,000

answer: 	 this is for service fees 17th of April to 16th of July
model output: 	 this is for service fees 17 of april to 16 of july

answer: 	 all same amount 360000 yes i just i just pick that straight out
model output: 	 all same amount 360,000 yes i just i just pick that straight out

answer: 	 so we will remit US$ 203000
model output: 	 so we will remit us dollars 200 and 3,000

answer: 	 0.93 usd so so we’ll do that uh i mean the buy back the euros
model output: 	 . 93 usd so so we'll do that uh i mean the buy back the euros

answer: 	 so we'll be doing this for value tomorrow so the indicative spot rate right now is 1. uh 3
model output: 	 so we'll be doing this for value tomorrow so the indicative spot rate right now is 1 point uh 3

answer: 	 okay good yeap and the second would be the CAD er CAD 10000
model output: 	 okay good yeap and the second would be the canadian dollars er canadian dollars 10,000

answer: 	 yeah you would like to do it 1 week or 2 week
model output: 	 yeah you would like to do it one week or two week

answer: 	 ter the iban for this transfer is fr 77300770489439
model output: 	 ter the iban for this transfer is fr 763 0 0 7 7 0 489439

answer: 	 you need to remit US$ 15000 to bank united new york branch the beneficiary
model output: 	 you need to remit 15,000 us dollars to bank united new york branch the beneficiary

answer: 	 ya 800350
model output: 	 ya 800300 and 50

19